<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Ecommerce!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <div class="page">
        <header class="header">
        {% block navigation %}
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% if app.request.attributes.get("_route") == "listeProduit" or app.request.attributes.get("_route") == "ajoutProduit" %}
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('homepage') }}">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('ajoutProduit') }}">Ajouter Produit</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('listeProduit') }}">Liste Produits</a>
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                         {% if app.request.attributes.get("_route") == "commercant" or app.request.attributes.get("_route") == "ajoutProduit" %}
                             <ul>
                                 <li class="nav-item">
                                     <a class="nav-link" href="{{ path('logout') }}">logout</a>
                                 </li>
                             </ul>
                         {% elseif app.request.attributes.get("_route") == "homepage" %}
                             <ul>
                                 <li class="nav-item">
                                     <a class="nav-link" href="{{ path('panier',{'idPanier': panier.id}) }}"> panier</a>
                                 </li>
                             </ul>
                         {% elseif app.request.attributes.get('_route') == "panier" %}
                             <ul>
                                 <li class="nav-item">
                                     <a class="nav-link" href="{{ path('commandeClient',{'id': idPanier}) }}"> Vos Commandes</a>
                                 </li>
                             </ul>
                         {% else %}
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        {% endif %}
                    </div>
                    {% endif %}
                </nav>
        {% endblock %}
        </header>

        <div class="container-fluid content">
            {% block body %}
            {% endblock %}
        </div>


            {% block footer %}
            {% endblock %}


    </div>
    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    {% endblock %}
    </body>
</html>
