{% extends 'base.html.twig' %}

{% block body %}
   <h1>Bienvenue sur le site</h1>
    <div class="container">
        <div class="text-right"><span>trier par <a class="trier" href="{{ path('trier',{'item':'prix'}) }}">Prix</a> | <a class="trier" href="{{ path('trier',{'item' : 'designation'}) }}">Désignation</a> | <a class="trier" href="{{ path('trier',{'item' : 'quantite'}) }}">Disponibilité</a></span></div>
            <div class="content-figure">
                {% for produit in listeProduit %}
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded img-acceuil-produit" src="{{ asset('uploads/image/'~produit.image) }}">
                        <figcaption class="figure-caption">
                            <p><span class="designation">{{ produit.designation }}</span> <span class="prix">{{ produit.prix }}</span>€</p>
                            <p class="description">{{ produit.description }}</p>
                            <p> il en reste <span class="quantite">{{ produit.quantite }}</span></p>
                            {% if produit.quantite == 0 %}
                                <p class="text-right text-warning"> en cours de réaprovisionnement</p>
                            {% else %}
                                <p class="text-right"><button class="btn btn-success"><a href="{{ path('ajouterPanier',{'id': produit.id,'idPanier' : panier.id } ) }}"> Ajouter</a></button></p>
                            {% endif %}
                        </figcaption>
                    </figure>

                {% endfor %}
            </div>
        <nav  aria-label="Page navigation example">{{ knp_pagination_render(listeProduit) }}</nav>
    </div>
{% endblock %}

{% block footer %}
    <footer class="footer bg-dark ">

    <a  data-toggle="modal" data-target="#exampleModal" href="#">Login</a>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Authentification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="formulaire">
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <form action="{{ path('homepage') }}" method="post">
                            <div  class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />

                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" name="_password" />

                            </div>
                            <button type="submit" class="btn btn-dark">login</button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </footer>
{% endblock %}
