{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-dark sidebar position-fixed">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('ajoutProduit') }}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('client') }}">Clients</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Commandes</a>
                </li>

            </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <h1>Commande.s non livrée.s</h1>

            <section class="row placeholders d-flex flex-column ">
                {% for commande in commandes %}
                <div class=" placeholder commande">
                    <h4>commande de {{ commande.client.nom }}</h4>
                    <div class="text-muted">
                       {% for produit in panier %}
                           <div class="placeholder commande">
                               <p>Désignation : {{ produit.idProduit.designation }}</p>
                               <p>Quantité : {{ produit.idProduit.quantite }}</p>
                               <p>Prix : {{ produit.idProduit.prix }}</p>
                           </div>
                       {% endfor %}
                        <p>montant : {{ commande.montantTotal }}</p>
                        <button class="btn btn-dark">Livrer</button>
                    </div>
                </div>
                {% endfor %}
            </section>
        </main>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}